/*RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul{
list-style: none;
}

header{
    height: 3em;
    background-color: aliceblue;
}

nav ul{
  display: flex;
  width: 100%;
  background-color: grey;
  justify-content: space-around;
  position: absolute;
}

nav ul li{
  position: relative;
  width: 100%;
  background-color: bisque;
}

nav ul li:hover ul{
  display: flex;
  width: 100%;
  background-color: aqua;
  position: relative;
}

nav ul li ul{
  display: none;
}


body{
    background-color: #9ab1df;
}